.part-one {
  color: green;
}
.part-two > h3 > span {
  color: red;
}
.part-three > .background-yellow {
  background-color: yellow;
}
.part-three > .background-pink {
  background-color: pink;
}
.part-four > .background-yellow {
  background-color: yellow;
}
.part-four > .background-pink {
  background-color: pink;
}
.part-four > .background-yellow > .red-text {
  color: red;
}
.part-four > .background-pink > .blue-text {
  color: blue;
}
